.right-contents
  .right-contents__notice
    .right-contents__notice__title
      お知らせ
    %ul
      %li
        特になし
  .right-contents__routine-tasks
    .right-contents__routine-tasks__title
      ルーティンタスク
    .right-contents__routine-tasks__rules
      1つ達成ごとに1ptゲット
    .right-contents__routine-tasks__list
      %table
        %tr
          %td
            運動
          %td
            設定なし
        %tr
          %td
            勉強
          %td
            設定なし
        %tr
          %td
            食事
          %td
            設定なし
        %tr
          %td
            睡眠
          %td
            設定なし
        %tr
          %td
            仕事
          %td
            設定なし
  .right-contents__todo-tasks
    .right-contents__todo-tasks__title
      ToDoタスク
    .right-contents__todo-tasks_list
      %ul
        %li
          タスク１
        %li
          タスク２
        %li
          タスク３
        %li
          タスク４
        %li
          タスク５
    = link_to "#", class: "right-contents__todo-tasks__more-btn" do
      もっと見る
  .right-contents__settings
    .right-contents__settings__title
      他サービスとの連携
    .right-contents__settings__btns
      = link_to "#", class: "right-contents__settings__btns__btn" do
        ガントチャート作成(仮)
      = link_to "#", class: "right-contents__settings__btns__btn" do
        Googleカレンダー連携(仮)
